body {
  background-image: url(rec.jpg);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dropdown {
  flex-basis: 45%;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
}

.dropdown select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.calculator {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.calculator h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.input {
  margin-bottom: 10px;
}

.input label {
  display: inline-block;
  width: 120px;
}

.input input {
  width: calc(100% - 120px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
